/* Style for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 20px; /* Reduced padding */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.navbar-logo { /* Reduced font size */
  font-weight: bold;
}

.navbar-user {
  font-size: 16px; /* Reduced font size */
}

/* Ensure the navbar fits to the screen size */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .navbar-logo, .navbar-user {
    font-size: 16px; /* Further reduce font size for very small screens */
  }

  .navbar-user {
    align-self: flex-end; /* Align username to the right in vertical layout */
  }
}
